team: dev-team
source:
  git:
    url: https://github.com/alexandreroman/spring-on-k8s.git
    revision: testing
build:
  env:
  # Set Java version: default is 11.*.
  - name: BP_JAVA_VERSION
    value: 8.*
image:
  tag: harbor.fqdn.com/myrepo/spring-on-k8s
